<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ambibox</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    <script>
        function onColorChange() {
            var colorValue = document.getElementById("colorInput").value;

            const url='http://localhost:8080/';
            const params = {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ hex: colorValue }),
                method: "POST"
            };

            fetch(url,params)
                .then(data => {return data.json()})
                .then(res => res)
                .catch(error => console.log(error))
        }
    </script>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">TV Ambient Lighting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container">
    <div class="row">

            <div th:switch="${isLedOn}">
                <div class="row" th:case=false>
                    <div class="col-xl mt-5">
                        <div class="d-grid gap-2"><a class="btn btn-success" href="/start">Start LEDs</a></div>
                    </div>
                </div>
                <div th:case="*">

                    <div class="row">
                        <div class="col-xl mt-5">
                            <h2>Choose Color</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col- mb-2">
                            <div class="d-grid gap-2"><a class="btn btn-danger btn-lg" href="/colorLed?color=RED"></a></div>
                        </div>
                        <div class="col- mb-2">
                            <div class="d-grid gap-2"><a class="btn btn-success btn-lg" href="/colorLed?color=GREEN"></a></div>
                        </div>
                        <div class="col- mb-2">
                            <div class="d-grid gap-2"><a class="btn btn-primary btn-lg" href="/colorLed?color=BLUE"></a></div>
                        </div>
                    </div>

                    <form method="post" th:object="${colors}" id="colorForm" name="colorForm">
                        <div class="form-group">
                            <div class="col-xl mt-4 mb-3">
                                <input type="color" class="form-control form-control-color" id="colorInput" name="colorInput" value="*{hex}" title="Choose your color" th:field="*{hex}" th:oninput="onColorChange()">
                            </div>
                        </div>
                    </form>

                    <div class="col-xl mt-5">
                        <div class="d-grid gap-2"><a class="btn btn-dark" href="/stop">Stop LEDs</a></div>
                    </div>
                </div>
            </div>

    </div>
</div>

</body>
</html>
